html,body {
  padding: 0;
  margin: 0;
  font-family: Comic Sans MS;
  background-color: rgb(254, 129, 1);
  background-image: url('/img/background.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: inherit;
  background-position: 95% 50%;
}

h1 {
  color: #ffd9ff;
  font-size: 56px;
  text-align: center;
}

#score-text {
  text-align: center;
  color: #ffd9ff;
  font-size: 28px;
}

canvas {
  background: #ead5a4;
  display: block;
  margin: 20px auto;
  margin-top: 20px;
}

#start{
  display: flex;
  justify-content: center;
  align-content: center;
}

#instructions{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}